# Transform

# Cellule 1 :

In [11]:
# ============================================
# NOTEBOOK 2 : TRANSFORM - VERSION CORRIGÃ‰E
# ============================================

import pandas as pd
from sqlalchemy import create_engine, text  
import time

# 1. SETUP UNIQUE
conn_string = "postgresql://game_user:game_password@postgres:5432/game_dw"
engine = create_engine(conn_string)
print("âœ… Connexion OK")


# 2. CRÃ‰ATION DES TABLES
print("ðŸ”„ CrÃ©ation des tables...")

sql_tables = """
DROP TABLE IF EXISTS participation CASCADE;
DROP TABLE IF EXISTS match CASCADE;
DROP TABLE IF EXISTS player CASCADE;
DROP TABLE IF EXISTS champion CASCADE;

CREATE TABLE match (
    match_id VARCHAR(50) PRIMARY KEY,
    game_id BIGINT,
    game_creation_ts BIGINT,
    game_duration INTEGER,
    game_mode VARCHAR(50),
    game_type VARCHAR(50),
    game_version VARCHAR(20),
    map_id INTEGER
);

CREATE TABLE player (
    player_puuid VARCHAR(100) PRIMARY KEY
);

CREATE TABLE champion (
    champion_id INTEGER PRIMARY KEY,
    champion_name VARCHAR(50) NOT NULL
);

CREATE TABLE participation (
    participation_id SERIAL PRIMARY KEY,
    match_id VARCHAR(50) NOT NULL,
    player_puuid VARCHAR(100) NOT NULL,
    champion_id INTEGER NOT NULL,
    champ_level INTEGER,
    kills INTEGER,
    deaths INTEGER,
    assists INTEGER,
    gold_earned INTEGER,
    win BOOLEAN,
    FOREIGN KEY (match_id) REFERENCES match(match_id),
    FOREIGN KEY (player_puuid) REFERENCES player(player_puuid),
    FOREIGN KEY (champion_id) REFERENCES champion(champion_id)
);

CREATE INDEX idx_participation_match ON participation(match_id);
CREATE INDEX idx_participation_player ON participation(player_puuid);
CREATE INDEX idx_participation_champion ON participation(champion_id);
"""

with engine.connect() as conn:
    conn.execute(text(sql_tables))
    conn.commit()
    print("âœ… Tables crÃ©Ã©es")


# 3. INSERTION MATCH
print("ðŸ”„ Extraction des matchs...")

sql_match = """
INSERT INTO match (match_id, game_id, game_creation_ts, game_duration, 
                   game_mode, game_type, game_version, map_id)
SELECT DISTINCT
    data->'metadata'->>'matchId' as match_id,
    (data->'info'->'gameId'->>'$numberLong')::bigint as game_id,
    (data->'info'->'gameCreation'->>'$numberLong')::bigint as game_creation_ts,
    (data->'info'->>'gameDuration')::int as game_duration,
    data->'info'->>'gameMode' as game_mode,
    data->'info'->>'gameType' as game_type,
    data->'info'->>'gameVersion' as game_version,
    (data->'info'->>'mapId')::int as map_id
FROM raw_matches
WHERE data->'metadata'->>'matchId' IS NOT NULL
ON CONFLICT (match_id) DO NOTHING;
"""

start = time.time()
with engine.connect() as conn:
    conn.execute(text(sql_match))
    conn.commit()
    print(f"âœ… Matchs insÃ©rÃ©s en {time.time()-start:.2f}s")


# 4. INSERTION PLAYER
print("ðŸ”„ Extraction des joueurs...")

sql_player = """
INSERT INTO player (player_puuid)
SELECT DISTINCT jsonb_array_elements_text(data->'metadata'->'participants')
FROM raw_matches
WHERE data->'metadata'->'participants' IS NOT NULL
ON CONFLICT (player_puuid) DO NOTHING;
"""

start = time.time()
with engine.connect() as conn:
    conn.execute(text(sql_player))
    conn.commit()
    print(f"âœ… Joueurs insÃ©rÃ©s en {time.time()-start:.2f}s")


# 5. INSERTION CHAMPION
print("ðŸ”„ Extraction des champions...")

sql_champion = """
INSERT INTO champion (champion_id, champion_name)
SELECT DISTINCT
    (p->>'championId')::int as champion_id,
    p->>'championName' as champion_name
FROM raw_matches, 
     jsonb_array_elements(data->'info'->'participants') as p
WHERE p->>'championId' IS NOT NULL 
  AND p->>'championName' IS NOT NULL
ON CONFLICT (champion_id) DO NOTHING;
"""

start = time.time()
with engine.connect() as conn:
    conn.execute(text(sql_champion))
    conn.commit()
    print(f"âœ… Champions insÃ©rÃ©s en {time.time()-start:.2f}s")


# 6. INSERTION PARTICIPATION (DERNIER !)
print("ðŸ”„ Extraction des participations...")

sql_participation = """
INSERT INTO participation (match_id, player_puuid, champion_id, champ_level,
                          kills, deaths, assists, gold_earned, win)
SELECT 
    r.data->'metadata'->>'matchId' as match_id,
    r.data->'metadata'->'participants'->>(p.idx-1)::int as player_puuid,
    (p.elem->>'championId')::int as champion_id,
    (p.elem->>'champLevel')::int as champ_level,
    (p.elem->>'kills')::int as kills,
    (p.elem->>'deaths')::int as deaths,
    (p.elem->>'assists')::int as assists,
    (p.elem->>'goldEarned')::int as gold_earned,
    (p.elem->>'win')::boolean as win
FROM raw_matches r,
LATERAL jsonb_array_elements(r.data->'info'->'participants') 
    WITH ORDINALITY AS p(elem, idx)
WHERE r.data->'metadata'->>'matchId' IS NOT NULL
  AND r.data->'metadata'->'participants'->>(p.idx-1)::int IS NOT NULL
ON CONFLICT DO NOTHING;
"""

start = time.time()
with engine.connect() as conn:
    conn.execute(text(sql_participation))
    conn.commit()
    print(f"âœ… Participations insÃ©rÃ©es en {time.time()-start:.2f}s")


# 7. VÃ‰RIFICATION FINALE
print("\nðŸ“Š VÃ‰RIFICATION :")

queries = {
    "Matchs": "SELECT COUNT(*) FROM match",
    "Joueurs": "SELECT COUNT(*) FROM player", 
    "Champions": "SELECT COUNT(*) FROM champion",
    "Participations": "SELECT COUNT(*) FROM participation"
}

for name, q in queries.items():
    with engine.connect() as conn:
        result = conn.execute(text(q))
        count = result.scalar()
        print(f"  {name}: {count:,}")

print("\nâœ… NOTEBOOK 2 TERMINÃ‰")

âœ… Connexion OK
ðŸ”„ CrÃ©ation des tables...
âœ… Tables crÃ©Ã©es
ðŸ”„ Extraction des matchs...
âœ… Matchs insÃ©rÃ©s en 44.21s
ðŸ”„ Extraction des joueurs...
âœ… Joueurs insÃ©rÃ©s en 12.20s
ðŸ”„ Extraction des champions...
âœ… Champions insÃ©rÃ©s en 7.71s
ðŸ”„ Extraction des participations...
âœ… Participations insÃ©rÃ©es en 159.20s

ðŸ“Š VÃ‰RIFICATION :
  Matchs: 12,719
  Joueurs: 91,487
  Champions: 178
  Participations: 127,372

âœ… NOTEBOOK 2 TERMINÃ‰