# Player

# Cellule 1 :

In [1]:
# ============================================
# NOTEBOOK 5 : CR√âATION MOD√àLE DIMENSIONNEL
# ============================================

import pandas as pd
from sqlalchemy import create_engine, text
import time

# Setup
conn_string = "postgresql://game_user:game_password@postgres:5432/game_dw"
engine = create_engine(conn_string)
print("‚úÖ Connexion OK")


# ============================================
# 1. SUPPRESSION ANCIENNES TABLES (si existent)
# ============================================
print("\nüßπ Nettoyage...")

drop_sql = """
DROP TABLE IF EXISTS fact_performance CASCADE;
DROP TABLE IF EXISTS dim_date CASCADE;
DROP TABLE IF EXISTS dim_player CASCADE;
DROP TABLE IF EXISTS dim_champion CASCADE;
DROP TABLE IF EXISTS dim_map CASCADE;
"""

with engine.connect() as conn:
    conn.execute(text(drop_sql))
    conn.commit()
    print("‚úÖ Anciennes tables supprim√©es")


# ============================================
# 2. CR√âATION DIMENSION : TEMPS
# ============================================
print("\nüìÖ Cr√©ation dim_date...")

dim_date_sql = """
CREATE TABLE dim_date (
    date_id SERIAL PRIMARY KEY,
    full_date TIMESTAMP NOT NULL,
    year INTEGER,
    quarter INTEGER,
    month INTEGER,
    month_name VARCHAR(20),
    week INTEGER,
    day INTEGER,
    day_of_week INTEGER,
    day_name VARCHAR(20),
    is_weekend BOOLEAN,
    hour INTEGER,
    period_of_day VARCHAR(20)  -- 'morning', 'afternoon', 'evening', 'night'
);

CREATE INDEX idx_dim_date_full ON dim_date(full_date);
CREATE INDEX idx_dim_date_year_month ON dim_date(year, month);
"""

with engine.connect() as conn:
    conn.execute(text(dim_date_sql))
    conn.commit()
    print("‚úÖ dim_date cr√©√©e")


# ============================================
# 3. CR√âATION DIMENSION : JOUEURS
# ============================================
print("\nüë§ Cr√©ation dim_player...")

dim_player_sql = """
CREATE TABLE dim_player (
    player_sk SERIAL PRIMARY KEY,  -- Surrogate Key
    player_puuid VARCHAR(100) NOT NULL UNIQUE,  -- Natural Key
    first_seen_date TIMESTAMP,
    total_games INTEGER DEFAULT 0,
    player_segment VARCHAR(20)  -- 'newbie', 'casual', 'regular', 'hardcore'
);

CREATE INDEX idx_dim_player_puuid ON dim_player(player_puuid);
CREATE INDEX idx_dim_player_segment ON dim_player(player_segment);
"""

with engine.connect() as conn:
    conn.execute(text(dim_player_sql))
    conn.commit()
    print("‚úÖ dim_player cr√©√©e")


# ============================================
# 4. CR√âATION DIMENSION : CHAMPIONS
# ============================================
print("\n‚öîÔ∏è Cr√©ation dim_champion...")

dim_champion_sql = """
CREATE TABLE dim_champion (
    champion_sk SERIAL PRIMARY KEY,  -- Surrogate Key
    champion_id INTEGER NOT NULL UNIQUE,  -- Natural Key
    champion_name VARCHAR(50) NOT NULL,
    champion_class VARCHAR(30),  -- 'Assassin', 'Tank', 'Mage', etc.
    difficulty_level VARCHAR(10),  -- 'low', 'medium', 'high'
    release_year INTEGER
);

CREATE INDEX idx_dim_champion_id ON dim_champion(champion_id);
CREATE INDEX idx_dim_champion_class ON dim_champion(champion_class);
"""

with engine.connect() as conn:
    conn.execute(text(dim_champion_sql))
    conn.commit()
    print("‚úÖ dim_champion cr√©√©e")


# ============================================
# 5. CR√âATION DIMENSION : CARTES (MAPS)
# ============================================
print("\nüó∫Ô∏è Cr√©ation dim_map...")

dim_map_sql = """
CREATE TABLE dim_map (
    map_sk SERIAL PRIMARY KEY,  -- Surrogate Key
    map_id INTEGER NOT NULL UNIQUE,  -- Natural Key
    map_name VARCHAR(50),
    map_type VARCHAR(30),  -- 'Summoners Rift', 'ARAM', etc.
    lane_config VARCHAR(20)  -- '5v5', '3v3', etc.
);

CREATE INDEX idx_dim_map_id ON dim_map(map_id);
"""

with engine.connect() as conn:
    conn.execute(text(dim_map_sql))
    conn.commit()
    print("‚úÖ dim_map cr√©√©e")


# ============================================
# 6. CR√âATION TABLE DE FAITS : PERFORMANCE
# ============================================
print("\nüìä Cr√©ation fact_performance...")

fact_sql = """
CREATE TABLE fact_performance (
    fact_id BIGSERIAL PRIMARY KEY,
    
    -- Cl√©s √©trang√®res (Surrogate Keys)
    date_id INTEGER NOT NULL,
    player_sk INTEGER NOT NULL,
    champion_sk INTEGER NOT NULL,
    map_sk INTEGER NOT NULL,
    
    -- Cl√© naturelle pour tra√ßabilit√©
    match_id VARCHAR(50) NOT NULL,
    
    -- Mesures (granularit√© : 1 ligne = 1 participation)
    kills INTEGER DEFAULT 0,
    deaths INTEGER DEFAULT 0,
    assists INTEGER DEFAULT 0,
    gold_earned INTEGER DEFAULT 0,
    champ_level INTEGER DEFAULT 1,
    game_duration INTEGER,  -- en secondes
    win BOOLEAN,
    
    -- M√©triques calcul√©es (peuvent √™tre d√©riv√©es mais stock√©es pour perf)
    kda_ratio DECIMAL(5,2),
    gold_per_minute DECIMAL(8,2),
    kill_participation DECIMAL(5,2),
    
    -- Contraintes d'int√©grit√© r√©f√©rentielle
    FOREIGN KEY (date_id) REFERENCES dim_date(date_id),
    FOREIGN KEY (player_sk) REFERENCES dim_player(player_sk),
    FOREIGN KEY (champion_sk) REFERENCES dim_champion(champion_sk),
    FOREIGN KEY (map_sk) REFERENCES dim_map(map_sk)
);

-- Index pour performances analytiques
CREATE INDEX idx_fact_date ON fact_performance(date_id);
CREATE INDEX idx_fact_player ON fact_performance(player_sk);
CREATE INDEX idx_fact_champion ON fact_performance(champion_sk);
CREATE INDEX idx_fact_map ON fact_performance(map_sk);
CREATE INDEX idx_fact_win ON fact_performance(win);
CREATE INDEX idx_fact_match ON fact_performance(match_id);
"""

with engine.connect() as conn:
    conn.execute(text(fact_sql))
    conn.commit()
    print("‚úÖ fact_performance cr√©√©e")


# ============================================
# 7. V√âRIFICATION
# ============================================
print("\nüìã V√©rification du sch√©ma en √©toile :")

tables = ['dim_date', 'dim_player', 'dim_champion', 'dim_map', 'fact_performance']
for table in tables:
    query = text(f"SELECT COUNT(*) FROM {table}")
    with engine.connect() as conn:
        result = conn.execute(query)
        count = result.scalar()
        print(f"  {table}: {count} lignes")

print("\n‚úÖ MOD√àLE DIMENSIONNEL CR√â√â")
print("‚û°Ô∏è Prochaine √©tape : 06_etl_dimensions.ipynb")

‚úÖ Connexion OK

üßπ Nettoyage...
‚úÖ Anciennes tables supprim√©es

üìÖ Cr√©ation dim_date...
‚úÖ dim_date cr√©√©e

üë§ Cr√©ation dim_player...
‚úÖ dim_player cr√©√©e

‚öîÔ∏è Cr√©ation dim_champion...
‚úÖ dim_champion cr√©√©e

üó∫Ô∏è Cr√©ation dim_map...
‚úÖ dim_map cr√©√©e

üìä Cr√©ation fact_performance...
‚úÖ fact_performance cr√©√©e

üìã V√©rification du sch√©ma en √©toile :
  dim_date: 0 lignes
  dim_player: 0 lignes
  dim_champion: 0 lignes
  dim_map: 0 lignes
  fact_performance: 0 lignes

‚úÖ MOD√àLE DIMENSIONNEL CR√â√â
‚û°Ô∏è Prochaine √©tape : 06_etl_dimensions.ipynb